name: Update Sponsors
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  sponsors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: JamesIves/github-sponsors-readme-action@v1
        with:
          token: ${{ secrets.PAT }}
          file: README.md
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update sponsors in README"
